@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #010101;
  color: #eee;
  height: 100%;
  overflow-x: hidden;
}

svg {
  width: 25px;
}

header {
  width: 100%;
  max-width: 100%;
  padding: 0 30px;
  margin: auto;
  display: grid;
  grid-template-columns: 100px 1fr 50px;
  grid-template-rows: 60px;
  align-items: center;
  position: relative;
  z-index: 100;
}

header .logo {
  font-weight: bold;
  font-size: 1.2rem;
}

header .menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider .list {
  position: relative;
  height: 100%;
}

.slider .list .item {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: .5s;
  height: 100%;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 40%, transparent);
}

.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 20%;
  max-width: 600px;
  z-index: 2;
}

.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}

.slider .list .item .content h2 {
  font-size: 80px;
  margin: 0;
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}

/* Animations */
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
  animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}

/* Arrows */
.arrows {
  position: absolute;
  top: 50%;
  right: 50px;
  z-index: 100;
  transform: translateY(-50%);
}

.arrows button {
  background-color: #eee5;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
}

.arrows button:hover {
  background-color: #eee;
  color: black;
}

/* Thumbnails */
.thumbnail {
  position: absolute;
  bottom: 30px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 180px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow-x: auto;
  justify-content: center;
}

.thumbnail::-webkit-scrollbar {
  width: 0;
}

.thumbnail .item {
  width: 130px;
  height: 170px;
  filter: brightness(0.5);
  transition: .5s;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail .item.active {
  filter: brightness(1.5);
}

.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
  text-align: center;
  color: white;
  font-weight: 500;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .slider .list .item .content h2 {
    font-size: 50px;
  }
  .arrows {
    top: 10%;
    right: 20px;
  }
  header {
    grid-template-columns: 60px 1fr 40px;
  }
  .thumbnail {
    justify-content: start;
    height: 150px;
  }
}
