/* .content-start {
    width: 30px;
    height: 5px;
    border-radius: 99px;
    /* background-color: $text-color; Ensure this variable is defined 
  }
  
  .details {
    z-index: 22;
    position: absolute;
    top: 240px;
    left: 60px;
  
    .place-box {
      height: 46px;
      overflow: hidden;
  
      .text {
        padding-top: 16px;
        font-size: 20px;
        position: relative; /* Added to make the pseudo-element relative to this 
  
        &:before {
          top: 0;
          left: 0; /* 'Left' corrected to 'left' 
          position: absolute;
          content: "";
          width: 30px;
          height: 4px;
          border-radius: 99px;
          background-color: white;
        }
      }
    }
  }
  
  .title-1,
  .title-2 {
    font-weight: 600;
    font-size: 72px;
    font-family: "Oswald", sans-serif;
  }
  


  .card {
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6); /* Fixed closing of rgba function 
  }
  
  #btn {
    position: absolute;
    top: 690px;
    z-index: 99;
    left: 16px;
  }
  
  .card-content {
    position: absolute;
    left: 0;
    top: 0;
    /* color: $text-color; Ensure that $text-color is defined 
    padding-left: 16px;
  }
  
  .content-place {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 500;
  }
   */
